{% extends  'baseTemplate/base.html'%}

<h1>Creacion de pacientes</h1>

<form method='POST' action=''>{% csrf_token %}
{% block navBar %}
<li><a href="#intro">Pacientes</a></li>
<li><a href="#one">Ingresar Paciente</a></li>


{% endblock %}

{% block apartados %}
<!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>Pacientes</h1>

      <table id="paciente">
        <tr>
            <th><h5>Nomre</h5></th>
            <th><h5>Fecha de Nacimiento</h5></th>
            <th><h5>Telefono</h5></th>
            <th><h5>Genero</h5></th>
            <th><h5>Tipo De Sangre</h5></th>
            <th><h5>DPI</h5></th>
            <th><h5>CUI</h5></th>
            <th><h5>Familia</h5></th>


            </tr>



            {% for dato in queryset %}

            <tr>
              <th><h5>{{ dato.nombre }}</h5></th>
              <th><h5>{{dato.fechaNacimiento}}</h5></th>
              <th><h5>{{dato.telefono}}</h5></th>
              <th><h5>{{dato.genero}}</h5></th>
              <th><h5>{{dato.tipoSangre}}</h5></th>
              <th><h5>{{dato.dpi}}</h5></th>
              <th><h5>{{dato.cui}}</h5></th>
              <th><h5>{{dato.idFamilia}}</h5></th>
              <td><a href='editar/{{dato.id}}'><i>Editar</i></a></td>



            </tr>
            {% endfor %}
          </table>




      <ul class="actions">
        <!-- <li><a href="#one" class="button scrolly">Learn more</a></li> -->
      </ul>
    </div>
  </section>

<!-- primer -->
<section id="one" class="wrapper style2 spotlights">
  <section>

    <div class="content">
      <div class="inner">
        <h2>Ingresa Un Paciente</h2>
        <form method='POST' class="form-control">{% csrf_token %}
          <table>
            <td>
              <p><h5>Nombre</h5>{{ form.nombre }}</p>
              <p><h5>Fecha Nacimiento (Formato: 2016-02-20).</h5>{{form.fechaNacimiento}}</p>
              <p><h5>Telefono</h5>{{form.telefono}}</p>
              <p><h5>Genero</h5>{{form.genero}}</p>

            </td>
            <td>
              <p><h5>Tipo de Sangre</h5>{{form.tipoSangre}}</p>
              <p><h5>DPI</h5>{{form.dpi}}</p>
              <p><h5>CUI</h5>{{form.cui}}</p>
              <p><h5>Familia</h5>{{form.idFamilia}}</p>

            </td>

          </table>
          <input type = "submit" value = "Ingresar" />

        </form>

        <ul class="actions">

        </ul>
      </div>
    </div>
  </section>
</section>




{% endblock %}

</form>
<p></p>
{% block js %}










{% endblock %}
