{% extends  'baseTemplate/base.html'%}

<h1>Edicion de Familia</h1>

<form method='POST' action=''>{% csrf_token %}
{% block navBar %}
<li><a href="">Editar Familia</a></li>

{% endblock %}

{% block apartados %}
<!-- Intro -->


<!-- primer -->
<section id="one" class="wrapper style2 spotlights">
  <section>

    <div class="content">
      <div class="inner">
        <h2>Editar Una Familia</h2>
        <form method='POST' action=''>{% csrf_token %}
          <table>
            <td>
              <p><h5>Primer Apellido</h5>{{ form.primerApellido }}</p>
              <p><h5>Fecha Nacimiento</h5>{{form.segundoApellido}}</p>
            </td>


          </table>
          <input type = "submit" value = "Ingresar" />

        </form>

        <ul class="actions">

        </ul>
      </div>
    </div>
  </section>
</section>




{% endblock %}

</form>
<p></p>
{% block js %}










{% endblock %}
