{% extends  'baseTemplate/base.html'%}

<h1>Edicion de Citas</h1>

<form method='POST' action=''>{% csrf_token %}
{% block navBar %}
<li><a href="">Editar Cita</a></li>

{% endblock %}

{% block apartados %}
<!-- Intro -->


<!-- primer -->
<section id="one" class="wrapper style2 spotlights">
  <section>

    <div class="content">
      <div class="inner">
        <h2>Editar Una Cita</h2>
        <form method='POST' action=''>{% csrf_token %}
          <table>
            <td>
              <p><h6>Hora</h6>{{form.citas}}</p>
              <p><h6>Fecha</h6>{{form.medicina}}</p>
              <p><h6>Paciente</h6>{{form.paciente_itinerario}}</p>
              <p><h6>Doctor</h6>{{form.doctor}}</p>
              <p><h6>Motivos</h6>{{form.observacion}}</p>
              <p><h6>Sintomas</h6>{{form.cantidad_medicina}}</p>

            </td>


          </table>
          <input type = "submit" value = "Ingresar" />

        </form>

        <ul class="actions">

        </ul>
      </div>
    </div>
  </section>
</section>




{% endblock %}

</form>
<p></p>
{% block js %}










{% endblock %}
