{% extends 'baseTemplate/base.html'%}
<h1> citas </h1>
<form method="POST" = action="">{% csrf_token %}

  {% block navBar %}
  <li><a href="#intro">citas</a></li>
  <li><a href="#one">Ingreso De Cita</a></li>
  <li><a href="#two">Editar Cita</a></li>

  {% endblock %}


<input type='submit' value="Registrar">
{% block apartados %}
<!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>Citas</h1>

      <table>
        <tr>
            <th>Citas</th>
            <th>Paciente</th>
            <th>Doctor</th>
            <th>medicina</th>
            <th>Cantidad de medicina</th>
            <th>Observacion</th>

       </tr>



            {% for dato in queryset %}

            <tr>
              <th>{{dato.citas }}</th>
              <th>{{dato.paciente_itinerario}}</th>
              <th>{{dato.doctor}}</th>
              <th>{{dato.medicina}}</th>
              <th>{{dato.cantidad_medicina}}</th>
              <th>{{dato.observacion}}</th>
            </tr>
            {% endfor %}
          </table>




      <ul class="actions">
        <li><a href="#one" class="button scrolly">Ingresar Nueva cita</a></li>
      </ul>
    </div>
  </section>

<!-- primer -->
<section id="one" class="wrapper style2 spotlights">
  <section>

    <div class="content">
      <div class="inner">
        <h2>Ingresa Una cita</h2>
        <form method='POST' action=''>{% csrf_token %}
          <table>
            <td>
              <p><h6>citas</h6>{{form.citas}}</p>
              <p><h6>hora</h6>{{form.paciente_itinerario}}</p>
              <p><h6>doctor</h6>{{form.doctor}}</p>
              <p><h6>medicina</h6>{{form.medicina}}</p>
              <p><h6>cantidad_medicina</h6>{{form.cantidad_medicina}}</p>
              <p><h6>observacion</h6>{{form.observacion}}</p>
            </td>


          </table>
          <input type = "submit" value = "Ingresar" />

        </form>

        <ul class="actions">

        </ul>
      </div>
    </div>
  </section>
</section>


{% endblock %}
</form>
<p></p>
