{% extends  'baseTemplate/base.html'%}

<form method='POST' action=''>{% csrf_token %}
{% block navBar %}
<li><a href="#intro">Visitadores</a></li>
<li><a href="#one">Ingresar Visitador</a></li>

{% endblock %}

{% block apartados %}


<!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>Visitadores</h1>

      <table id="paciente">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>



            </tr>



            {% for dato in queryset %}

            <tr>
              <th>{{dato.Nombre}}</th>
              <th>{{dato.Apellido}}</th>
              <th>{{dato.Telefono}}</th>
              <th>{{dato.Email}}</th>
            </tr>
            {% endfor %}
          </table>




      <ul class="actions">
        <li><a href="#one" class="button scrolly">Learn more</a></li>
      </ul>
    </div>
  </section>

  <!-- primer -->
  <section id="one" class="wrapper style2 spotlights">
    <section>

      <div class="content">
        <div class="inner">
          <h2>Ingresa Un Visitador</h2>
          <form method='POST' action=''>{% csrf_token %}
            <table>
              <td>
                <p><h6>Nombre</h6>{{ form.Nombre }}</p>
                <p><h6>Apellido</h6>{{form.Apellido}}</p>
                <p><h6>Telefono</h6>{{form.Telefono}}</p>
                <p><h6>Email</h6>{{form.Email}}</p>
              </td>


            </table>
            <input type = "submit" value = "Ingresar" />

          </form>

          <ul class="actions">

          </ul>
        </div>
      </div>
    </section>
  </section>







  {% endblock %}

  </form>
