{% extends  'baseTemplate/base.html'%}

<form method='POST' action=''>{% csrf_token %}
{% block navBar %}
<li><a href="#intro">Medicamentos</a></li>
<li><a href="#one">Ingresar Medicamentos</a></li>


{% endblock %}

{% block apartados %}


<!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>Medicamentos</h1>

      <table id="paciente">
        <tr>
            <th>Nombre</th>
            <th>Casa Medica</th>
            <th>Cantidad</th>



            </tr>



            {% for dato in queryset %}

            <tr>
              <th>{{dato.Nombre}}</th>
              <th>{{dato.CasaMedica}}</th>
              <th>{{dato.Cantidad}}</th>
            </tr>
            {% endfor %}
          </table>




      <ul class="actions">
        <li><a href="#one" class="button scrolly">Learn more</a></li>
      </ul>
    </div>
  </section>

  <!-- primer -->
  <section id="one" class="wrapper style2 spotlights">
    <section>

      <div class="content">
        <div class="inner">
          <h2>Ingresa Un Medicamento</h2>
          <form method='POST' action=''>{% csrf_token %}
            <table>
              <td>
                <p><h6>Nombre</h6>{{ form.Nombre }}</p>
                <p><h6>Casa Medica</h6>{{form.CasaMedica}}</p>
                <p><h6>Cantidad</h6>{{form.Cantidad}}</p>
              </td>


            </table>
            <input type = "submit" value = "Ingresar" />

          </form>

          <ul class="actions">

          </ul>
        </div>
      </div>
    </section>
  </section>



  


  {% endblock %}

  </form>
